<div class="p-grid" style="align-content: center">
    <div *ngIf="!isRegistered" class="p-col-12 p-md-12 p-lg-12 margin-top">
        <h3>Register User</h3>
        <form [formGroup]="registrationForm" (ngSubmit)="registerUser(registrationForm.value)">
            <div>
                <label for="email" class="p-col-12 p-md-12 p-lg-12 margin">Email</label>
                <div class="p-col-12 p-md-12 p-lg-12 margin">
                    <input type="text" formControlName="email" pInputText />
                </div>
            </div>
            <div>
                <label for="password" class="p-col-12 p-md-12 p-lg-12 margin">Password</label>
                <div class="p-col-12 p-md-12 p-lg-12 margin">
                    <input type="password" formControlName="password" pInputText />
                </div>
            </div>
            <div>
                <label for="email" class="p-col-12 p-md-12 p-lg-12 margin">Name</label>
                <div class="p-col-12 p-md-12 p-lg-12 margin">
                    <input type="text" formControlName="name" pInputText />
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12 margin">
                <button class="btn btn-success" pButton label="Register" type="submit"></button>
            </div>
        </form>
    </div>
</div>