<div class="p-grid" style="background-color:navajowhite; width: 30%; border-radius: 30px; margin: 5% 38% 0;">
    <div *ngIf="!isLoggedIn" style="text-align: center; width: 100%;">
        <div class="p-col-12 p-md-12 p-lg-12 margin-top" *ngIf="!isNewUser">
            <h3>Log In</h3>
            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                <div>
                    <label for="email" class="p-col-12 p-md-12 p-lg-12 margin">Email</label>
                    <div class="p-col-12 p-md-12 p-lg-12 margin">
                        <input type="text" pInputText formControlName="email" />
                    </div>
                </div>
                <div>
                    <label for="password" class="p-col-12 p-md-12 p-lg-12 margin">Password</label>
                    <div class="p-col-12 p-md-12 p-lg-12 margin">
                        <input type="password" pInputText formControlName="password" />
                    </div>
                </div>
                <div class="p-col-12 p-md-12 p-lg-12 margin">
                    <button class="btn btn-success" pButton label="LogIn" type="submit"></button>
                </div>
                <div class="p-col-12 p-md-12 p-lg-12 margin">
                    <label> click here to <a href="#" (click)="isNewUser = true">Register</a></label>
                </div>
            </form>
        </div>
        <div *ngIf="isNewUser">
            <app-register-user></app-register-user>
        </div>
    </div>
</div>

<div *ngIf="isLoggedIn || isRegistered" style="margin: -5% 0 0 0;">
    <app-find-accomodation></app-find-accomodation>
</div>