<form style="height: 97vh;background-color: #ffffff ;overflow: hidden;">
    <div class="p-sm-12 ">
        <div class="menu">
            <span (click)="accomodation()" style="margin: 0em 1em 0 3em" class="menus">Find
                Accomodation</span>
            <span (click)="postAd()" class="menus">Post An Ad</span>
            <span *ngIf="!isSessionOn" (click)="login()" class="login-menu">Sign In/Sign Up</span>
            <span *ngIf="isSessionOn" (click)="onLogoutConfirmation()" class="login-menu">Logout</span>
            <span class="tittle" style="margin-left: 25%;"><img src="/assets/home.png/" width="25" height="25"
                    style="padding: 0px 8px 4px 0;vertical-align: middle;">Safe Home</span>
        </div>
    </div>
    <div class="p-grid">
        <div *ngIf="isAccomodation" style="width: 100%;">
            <app-find-accomodation></app-find-accomodation>
        </div>
        <div *ngIf="isPostAd" style=" margin: 5% 0 0 0;">
            <app-post-ad></app-post-ad>
        </div>
        <div *ngIf="isLogin" style="width: 100%;margin: 0, 5rem; ">
            <app-login></app-login>
        </div>
        <div *ngIf="isRegistration" style="width: 100%; margin: 0, 5rem;">
            <app-register-user></app-register-user>
        </div>
    </div>

    <p-dialog header="Please login for posting ad!" [draggable]="false" [(visible)]="display" modal="true">
        <br />
        <br />
        <button pButton type="button" label="OK" (click)="onPopupOKClick()" class="p-button-warning"></button>
    </p-dialog>
</form>