<form style="height: 98vh; background-color: aqua;">
    <div class="p-grid c">
        <div class="p-sm-12 ">
            <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <p-card class="p-card">
                Content
            </p-card>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <p-card class="card2">
                Content
            </p-card>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <p-card class="p-card">
                Content
            </p-card>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <p-card class="card2">
                Content
            </p-card>
        </div>
    </div>
</form>