body {
    margin: 0 !important;
}
.p-grid {
    display: flex;
    flex-wrap: wrap;
    /* margin: 8em !important; */
}
.menu {
    width: 95%;
    margin: 1em;
    height: 3em;
    background-color: beige;
    border-radius: 25px;
}
.menus {
    position: relative;
    top: 13px;
    font-weight: bold;
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.login-menu {
    position: relative;
    top: 13px;
    font-weight: bold;
    font-size: 20px;
    color: red;
    cursor: pointer;
    right: 3%;
    float: right;
}
