body {
    margin: 0 !important;
}
.p-grid {
    display: flex;
    flex-wrap: wrap;
    /* margin: 8em !important; */
}
.menu {
    /* width: 95%;
    margin: 1em; */
    width: 100%;
    margin: 0px -7px;
    height: 3em;
    background-color: #009ee0;
    border-radius: 15px;
}
.menus {
    position: relative;
    top: 13px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.tittle {
    position: relative;
    top: 13px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    /* left: 10%; */
    /* cursor: pointer; */
}

.login-menu {
    position: relative;
    top: 13px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    right: 3%;
    float: right;
}
