<form style="height: 97vh;background-color: #ffa1a1 ;overflow: hidden;">
    <div class="p-sm-12 ">
        <div class="menu">
            <span (click)="accomodation()" style="margin: 0em 1em 0 3em" class="menus">Find
                Accomodation</span>
            <span (click)="postAd()" class="menus">Post An Ad</span>
            <span (click)="login()" class="menus">Login</span>
        </div>
    </div>
    <div class="p-grid">
        <div *ngIf="isAccomodation">
            <app-find-accomodation></app-find-accomodation>
        </div>
        <div *ngIf="isPostAd">
            <app-post-ad></app-post-ad>
        </div>
        <div *ngIf="isLogin">
            <app-login></app-login>
        </div>
    </div>
</form>