<div class="p-grid">
    <div class="p-col-12 p-md-3 p-lg-3"><label>Owner Name</label></div>
    <div class="p-col-12 p-md-3 p-lg-3"><input type="text" pInputText /></div>
    <div class="p-col-12 p-md-3 p-lg-3"><label>Contact Number</label></div>
    <div class="p-col-12 p-md-3 p-lg-3"><input type="text" pInputText /></div>
    <div class="p-col-12 p-md-3 p-lg-3"><label>Property Address</label></div>
    <div class="p-col-12 p-md-3 p-lg-3"><textarea pInputTextarea></textarea></div>
    <div class="p-col-12 p-md-3 p-lg-3"><label>Cost Per Day</label></div>
    <div class="p-col-12 p-md-3 p-lg-3"><input type="text" pInputText /></div>
    <!-- <div class="p-col-12 p-md-3 p-lg-3"> -->
        <!-- <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
        multiple="multiple" accept="image/*" maxFileSize="1000000"> -->
    <!-- </div> -->
</div>