.p-inputtext {
    margin: 0;
    height: 3.8vh;
    border-radius: 3px;
    width: 80%;
    border-color: white;
    border: none;
}
.p-button {
    border-radius: 15px;
    top: 0em;
    background-color: #e4205a;
    color: #ffffff;
    width: 9em;
}
.upload {
    font-size: 23px;
}
.p-button-label {
    font-size: 20px;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.p-grid {
    margin-top: 0.5rem !important;
}
.margin {
    margin: 0 0 2% 0;
}
.margin-top {
    margin: 2% 0 2% 0;
}
label {
    font-family: cursive;
}
