/* You can add global styles to this file, and also import other style files */
.p-multiselect {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #ffffff;
    position: relative;
    user-select: none;
    width: 80%;
    height: 3.8vh;
    border-radius: 3px;
}
.p-multiselect-item {
    background-color: #ffffff;
    padding: 0 0 0 5px;
}

.p-dropdown {
    background-color: #ffffff;
    width: 80%;
    height: 3.8vh;
    border-radius: 3px;
    padding: 5px;
}

.p-dropdown-item {
    background-color: #ffffff;
    padding: 0 0 0 5px;
}
