/* You can add global styles to this file, and also import other style files */
.p-multiselect {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #ffffff;
    position: relative;
    user-select: none;
    width: 80%;
    height: 3.8vh;
    border-radius: 3px;
}
.p-multiselect-item {
    background-color: #ffffff;
    padding: 0 0 0 5px;
}

.p-dropdown {
    background-color: #ffffff;
    width: 80%;
    height: 3.8vh;
    border-radius: 3px;
    padding: 5px;
}

.p-dropdown-item {
    background-color: #ffffff;
    padding: 0 0 0 5px;
}

.p-overlaypanel-content {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.p-dialog {
    background-color: white;
    width: 55%;
    border-radius: 15px;
    color: #333333;
    padding: 0.571em 1em;
    transform: scale(1);
}
.p-dialog-header {
    font-size: 20px;
    height: 5vh;
    font-weight: bold;
    border-bottom: 1px solid #decfcf;
}

.p-card-body {
    background-color: #ffffff;
    width: 50%;
}
.p-component-overlay {
    background-color: #00000018 !important;
}
