/* You can add global styles to this file, and also import other style files */
.p-multiselect {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #ffffff;
    position: relative;
    user-select: none;
    width: 80%;
    height: 3.8vh;
    border-radius: 3px;
}
.p-multiselect-item {
    background-color: #ffffff;
    padding: 0 0 0 5px;
}

.p-dropdown {
    background-color: #ffffff;
    width: 80%;
    height: 3.8vh;
    border-radius: 3px;
    padding: 5px;
    font-family: cursive;
}

.p-dropdown-item {
    background-color: #ffffff;
    padding: 0 0 0 5px;
    font-family: cursive;
}

.p-overlaypanel-content {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.p-dialog {
    background-color: white;
    width: 55%;
    border-radius: 15px;
    color: #333333;
    padding: 0.571em 1em;
    transform: scale(1);
}
.p-dialog-header {
    font-size: 20px;
    height: 5vh;
    font-weight: bold;
    border-bottom: 1px solid #decfcf;
}

.p-card-body {
    background-color: #ffffff;
    width: 50%;
}
.p-component-overlay {
    background-color: #00000018 !important;
}
.p-datatable-scrollable-body > table > .p-datatable-tbody > tr > td {
    border-left: 1px solid;
    background-color: #ededff;
    color: black;
    font-family: cursive;
}
th {
    /* border-left: 1px solid; */
    font-family: cursive;
    height: 5vh;
}
.p-datatable {
    position: relative;
    width: 98.5%;
    margin: 0 1%;
}
.p-datatable-thead {
    border: 1px solid;
    background-color: #3599a8;
    color: #ffffff;
}

.p-paginator {
    height: 5vh;
    background-color: #3599a8;
}
.p-datatable-scrollable-wrapper {
    position: relative;
    min-height: 58vh;
}

.p-paginator-current,
.p-paginator-first,
.p-paginator-last,
.p-paginator-next,
.p-paginator-page,
.p-paginator-prev {
    color: #ffffff;
    font-weight: bold;
}

.p-button-label {
    font-family: cursive;
}

label {
    font-family: cursive;
}