<div class="p-grid p-lg-12">
    <div class=" p-grid p-lg-2" style="text-align: center;">
        <!-- <div class="p-col-12 p-md-1 p-lg-2"></div> -->
        <div class="p-col-12 p-md-12 p-lg-12"><label>City</label></div>
        <div class="p-col-12 p-md-12 p-lg-12">
            <p-multiSelect [options]="cities1"></p-multiSelect>
        </div>
        <div class="p-col-12 p-md-12 p-lg-12"><label>Area</label></div>
        <div class="p-col-12 p-md-12 p-lg-12">
            <p-multiSelect [options]="cities1"></p-multiSelect>
        </div>
        <div class="p-col-12 p-md-12 p-lg-12"><label>Type of Property</label></div>
        <div class="p-col-12 p-md-12 p-lg-12">
            <p-multiSelect [options]="cities1"></p-multiSelect>
        </div>
        <div class="p-col-12 p-md-12 p-lg-12"><label>Price Range</label></div>
        <div class="p-col-12 p-md-12 p-lg-12">
            <p-multiSelect [options]="cities1"></p-multiSelect>
        </div>
        <div class="p-col-12 p-md-12 p-lg-12" style=" text-align: center;">
            <button pButton type="button" label="Search" class="p-button-warning"></button>
        </div>
        <!--<div class="p-col-12 p-md-2 p-lg-1"><label>Area</label></div>
        <div class="p-col-12 p-md-2 p-lg-3">
            <p-multiSelect [options]="cities1"></p-multiSelect>
        </div>
        <div class="p-col-12 p-md-4 p-lg-2"></div>
        <div class="p-col-12 p-md-1 p-lg-2"></div>
        <div class="p-col-12 p-md-2 p-lg-1"><label>Type of Property</label></div>
        <div class="p-col-12 p-md-3 p-lg-3">
            <p-multiSelect [options]="cities1"></p-multiSelect>
        </div>
        <div class="p-col-12 p-md-2 p-lg-1"><label>Price Range</label></div>
        <div class="p-col-12 p-md-4 p-lg-3">
            <p-multiSelect [options]="cities1"></p-multiSelect>
        </div>
        <div class="p-col-12 p-md-4 p-lg-2"></div>
        <div class="p-col-12 p-md-1 p-lg-2"></div> -->
        <!-- <div class="p-col-12 p-md-2 p-lg-1"><label>Availability</label></div>
        <div class="p-col-12 p-md-4 p-lg-3">
            <p-multiSelect [options]="cities1"></p-multiSelect>
        </div> -->
    </div>
    <div class="p-grid p-lg-10">
        <p-table [value]="[0]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Images</th>
                    <th>Property Name & Address</th>
                    <th>Owner Details</th>
                    <th>Cost Per Day</th>
                    <th>Book Now</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>
                    <td>{{car.vin}}</td>
                    <td>{{car.year}}</td>
                    <td>{{car.brand}}</td>
                    <td>{{car.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>