/* button {
    margin: 20em 0em 0 40em;
} */
.p-inputtext {
    margin: 0;
    height: 2rem;
    border-radius: 5px;
    width: 80%;
}
.p-button {
    border-radius: 15px;
    /* top: 2em; */
    background-color: #e4205a;
    color: #ffffff;
    width: 9em;
}
.upload {
    font-size: 23px;
}
.p-button-label {
    font-size: 20px;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.p-grid {
    margin-top: 0.5rem !important;
}
.image {
    border: 1px solid;
    border-radius: 10px;
}
.payment {
    width: 70%;
    height: 30vh;
}
.search-header {
    text-align: center;
    background-color: navajowhite;
    margin: 0 4%;
    border-radius: 30px;
    width: 90%;
}
.about {
    width: 55%;
    margin: 3% 0% 0 22%;
    padding: 2%;
    background-color: navajowhite;
    border-radius: 30px;
    font-family: cursive;
}
