<div class="p-grid p-lg-12">
    <div class=" p-grid p-md-12 p-lg-12"
        style="text-align: center;background-color: navajowhite;width: 90%;margin: 0 4%;border-radius: 30px;">
        <div class="p-col-12 p-md-1 p-lg-1"><label>City</label></div>
        <div class="p-col-12 p-md-2 p-lg-2">
            <p-dropdown [options]="cities" (onChange)="onCityChange($event.value.id)"></p-dropdown>
        </div>
        <div class="p-col-12 p-md-1 p-lg-1"><label>Area</label></div>
        <div class="p-col-12 p-md-2 p-lg-2">
            <p-dropdown [options]="area" placeholder="--- select ---" (onChange)="onAreaChange($event.value.id)">
            </p-dropdown>
        </div>
        <div class="p-col-12 p-md-2 p-lg-2"><label>Type of Property</label></div>
        <div class="p-col-12 p-md-2 p-lg-2">
            <p-dropdown [options]="propertyType" (onChange)="onProTypeChange($event.value.id)"></p-dropdown>
        </div>
        <div class="p-col-12 p-md-2 p-lg-2" style=" text-align: center;">
            <button pButton type="button" label="Search" (click)="onSearchClick()" class="p-button-warning"></button>
        </div>
    </div>
</div>
<div class="p-grid p-md-12 p-lg-12" *ngIf="isSearched">
    <div class="p-grid p-md-12 p-lg-12" style="text-align: center;">
        <p-table [value]="properties" cellspacing="0" [scrollable]="true" scrollHeight="58vh" [paginator]="true"
            [rows]="20" [responsive]="true" [resizableColumns]="true" columnResizeMode="expand">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:5%">
                    <col style="width:30%">
                    <col style="width:25%">
                    <col style="width:15%">
                    <col style="width:10%">
                    <col style="width:15%">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th> Sr No. </th>
                    <th style="display: flex; justify-content: center; align-items: center;">Images</th>
                    <th>Property Name & Address</th>
                    <th>Owner Details</th>
                    <th>Cost Per Day</th>
                    <th>Book Now</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                    <td> {{rowIndex + 1}} </td>
                    <p-dialog header="Book An Accomodation" [draggable]="false" [(visible)]="display" modal="true">
                        <div>
                            <img src="/assets/PaymentGateway.png" class="payment" />
                        </div>
                        <br /> <br /> <br />
                        <button pButton type="button" label="Book Now" (click)="onBookNowClick(rowData)"
                            class="p-button-warning"></button>
                    </p-dialog>
                    <p-dialog header="Please login booking this accomodation!" [draggable]="false" [(visible)]="displayLoginPopup"
                        modal="true">
                        <br />
                        <br />
                        <button pButton type="button" label="OK" (click)="onLoginPopupOKClick()"
                            class="p-button-warning"></button>
                    </p-dialog>
                    <td style="display: flex; justify-content: center;">
                        <div class="p-grid" *ngFor="let photo of rowData.propertyPhotos" style="padding: 0 1.5em 0 0;">
                            <img class="image" src="{{'data:image/jpg;base64,' + photo.photo}}"
                                (click)="op.toggle($event)" width="50" height="50" />
                        </div>
                    </td>
                    <p-overlayPanel appendTo="body" #op>
                        <div class="p-grid" *ngFor="let photo of rowData.propertyPhotos" style="padding: 1em;">
                            <img class="image" clas src="{{'data:image/jpg;base64,' + photo.photo}}" width="350"
                                height="300" />
                        </div>
                    </p-overlayPanel>
                    <td>
                        {{rowData.address  + ' , ' + rowData.area + ' , ' + rowData.city}}
                    </td>
                    <td>{{rowData.ownerName}}</td>
                    <td>{{rowData.costPerDay}}</td>
                    <td>
                        <button pButton type="button" label="Book Now" (click)="onBookNowClick()"
                            class="p-button-warning"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="6" [ngStyle]="{'text-align': 'center'}">
                    No Data to show!!
                  </td>
                </tr>
              </ng-template>
        </p-table>
    </div>
</div>
<!-- </div> -->